{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1>Nos séries</h1>
        {% for program in programs %}
        <div class = "film">
        <a  href="{{ path("program_show", { program: program.id }) }}">
            <img class="poster" src="{{program.poster}}" alt="{{ program.title }}" >
            </a>
            {# Lien vers la fiche de la série : #}
        </div>
    {% else %}
        Aucune série trouvée.
    {% endfor %}
{% endblock %}